In [2]:
import pandas as pd

In [8]:
#Exports Areas and Co Wide to Long
natexp = pd.read_csv("../data/trade_balance_datasets/Exports_Areas_and_Co_1.csv")
natexp.head()
natexp_country_lookup=natexp[natexp.columns[0:2]]
exportlist=natexp.columns[2:]
natexp_long=pd.melt(natexp,id_vars=['NationRegionName','NationRegionType'],value_vars=exportlist)
natexp_long=natexp_long.rename(columns={'variable':'YearMonth','value':'ExportsUSD_M'})
natexp_long.head()

     NationRegionName NationRegionType YearMonth  ExportsUSD_M
0           Australia           Region   2014M01     17,637.62
1               World            World   2014M01  1,547,334.04
2  Advanced Economies         Economic   2014M01    968,203.87
3           Euro Area           Region   2014M01    389,154.26
4             Austria          Country   2014M01     14,687.85

In [10]:
#Imports Areas and Co Wide to Long
natimp = pd.read_csv("../data/trade_balance_datasets/Imports_Areas_and_Co_1.csv")
natimp.head()
natimp_country_lookup=natexp[natimp.columns[0:2]]
importlist=natimp.columns[2:]
natimp_long=pd.melt(natimp,id_vars=['NationRegionName','NationRegionType'],value_vars=importlist)
natimp_long=natimp_long.rename(columns={'variable':'YearMonth','value':'ImportsUSD_M'})
natimp_long.head()

     NationRegionName NationRegionType YearMonth  ImportsUSD_M
0           Australia          Country   2014M01     23,697.21
1               World            World   2014M01  1,561,520.98
2  Advanced Economies         Economic   2014M01    852,924.80
3           Euro Area           Region   2014M01    371,377.09
4             Austria          Country   2014M01     14,493.59