In [3]:
import pandas as pd
import os

In [82]:
#Exports Areas and Co Wide to Long
natexp = pd.read_csv("../data/trade_balance_datasets/Exports_Areas_and_Co_1.csv")
natexp.head()
natexp_country_lookup=natexp[natexp.columns[0:2]]
exportlist=natexp.columns[2:]
natexp_long=pd.melt(natexp,id_vars=['NationRegionName','NationRegionType'],value_vars=exportlist)
natexp_long=natexp_long.rename(columns={'variable':'YearMonth','value':'ExportsUSD_M'})
natexp_long.head()

     NationRegionName NationRegionType YearMonth  ExportsUSD_M
0           Australia           Region   2014M01     17,637.62
1               World            World   2014M01  1,547,334.04
2  Advanced Economies         Economic   2014M01    968,203.87
3           Euro Area           Region   2014M01    389,154.26
4             Austria          Country   2014M01     14,687.85

In [83]:
#Imports Areas and Co Wide to Long
natimp = pd.read_csv("../data/trade_balance_datasets/Imports_Areas_and_Co_1.csv")
natimp.head()
natimp_country_lookup=natexp[natimp.columns[0:2]]
importlist=natimp.columns[2:]
natimp_long=pd.melt(natimp,id_vars=['NationRegionName','NationRegionType'],value_vars=importlist)
natimp_long=natimp_long.rename(columns={'variable':'YearMonth','value':'ImportsUSD_M'})
natimp_long.head()

     NationRegionName NationRegionType YearMonth  ImportsUSD_M
0           Australia          Country   2014M01     23,697.21
1               World            World   2014M01  1,561,520.98
2  Advanced Economies         Economic   2014M01    852,924.80
3           Euro Area           Region   2014M01    371,377.09
4             Austria          Country   2014M01     14,493.59

In [79]:
all_countries = pd.read_csv("../data/trade_balance_datasets/top20_2014-2020_all.csv")

In [80]:
all_countries

,Trading Partner,Total Trade ($M),RtW (%),Exports ($M),RtW (%).1,Imports ($M),RtW (%).2,Net Exports ($M),Exports Ticker,Imports Ticker,country,year
0,China,139714.00,28.28,90132.20,35.67,49581.80,20.54,40550.40,924D1193 Index,193D1924 Index,Australia,2014
1,Japan,64576.70,13.07,48127.30,19.05,16449.40,6.81,31677.90,158D1193 Index,193D1158 Index,Australia,2014
2,European Union,54871.20,11.11,12268.60,4.86,42602.60,17.65,-30334.00,998D1193 Index,193D1998 Index,Australia,2014
3,United States,36313.10,7.35,10671.80,4.22,25641.30,10.62,-14969.50,111D1193 Index,193D1111 Index,Australia,2014
4,South Korea,31668.50,6.41,20413.10,8.08,11255.40,4.66,9157.70,542D1193 Index,193D1542 Index,Australia,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
24388,Gambia,12.03,0.00,10.96,0.00,1.07,0.00,9.90,648D1111 Index,111D1648 Index,United States,2020
24389,Vanuatu,11.70,0.00,6.59,0.00,5.12,0.00,1.47,846D1111 Index,111D1846 Index,United States,2020
24390,Solomon Islands,8.57,0.00,5.24,0.00,3.32,0.00,1.92,813D1111 Index,111D1813 Index,United States,2020
24391,Comoros,5.67,0.00,2.25,0.00,3.43,0.00,-1.18,632D1111 Index,111D1632 Index,United States,2020
24392,Sao Tome & Principe,1.60,0.00,0.69,0.00,0.91,0.00,-0.22,716D1111 Index,111D1716 Index,United States,2020

In [115]:
#Combine Imports and Exports with column for Import Export
natimp_long["ImportExport"]="Import"
natimp_long=natimp_long.rename(columns={"ImportsUSD_M":"TradeAmountUSD_M"})
natexp_long["ImportExport"]="Export"
natexp_long=natexp_long.rename(columns={"ExportsUSD_M":"TradeAmountUSD_M"})
comb=[natimp_long,natexp_long]
natimpexp_long=pd.concat(comb)
natimpexp_long

#Convert Year Month to Date (First of Month was easiest, can add last of month)
natimpexp_long['Year'], natimpexp_long['Month'] = natimpexp_long['YearMonth'].str.split('M', 2).str
natimpexp_long["Day"]="01"
natimpexp_long["ReportDate"]=pd.to_datetime(natimpexp_long[["Year", "Month", "Day"]])

,NationRegionName,NationRegionType,YearMonth,TradeAmountUSD_M,ImportExport,Day
0,Australia,Country,2014M01,"23,697.21",Import,01
1,World,World,2014M01,"1,561,520.98",Import,01
2,Advanced Economies,Economic,2014M01,"852,924.80",Import,01
3,Euro Area,Region,2014M01,"371,377.09",Import,01
4,Austria,Country,2014M01,"14,493.59",Import,01
...,...,...,...,...,...,...
20225,Africa,Region,2021M09,"49,945.40",Export,NaN
20226,Middle East,Region,2021M09,"63,083.54",Export,NaN
20227,European Union,Region,2021M09,"568,517.06",Export,NaN
20228,Emerging Market and Developing Economies by So...,Economic,2021M09,"92,931.75",Export,NaN
20229,Emerging Market and Developing Economies by So...,Economic,2021M09,"627,317.27",Export,NaN

In [124]:
#natimpexp_long.to_csv('../data/trade_balance_datasets/Exports_Imports_by_Areas_and_Co_long.csv', index=False)